In [20]:
import pandas as pd
df = pd.read_csv("laptop_price.csv", sep= ',',encoding='windows-1252')
df.head(5) # выводит первые строки 
df.info() # выводит типы данных

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1303 entries, 0 to 1302
Data columns (total 13 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   laptop_ID         1303 non-null   int64
 1   Company           1303 non-null   object
 2   Product           1303 non-null   object
 3   TypeName          1303 non-null   object
 4   Inches            1303 non-null   float64
 5   ScreenResolution  1303 non-null   object
 6   Cpu               1303 non-null   object
 7   Ram               1303 non-null   object
 8   Memory            1303 non-null   object
 9   Gpu               1303 non-null   object
 10  OpSys             1303 non-null   object
 11  Weight            1303 non-null   object
 12  Price_euros       1303 non-null   float64
dtypes: float64(2), int64(1), object(10)
memory usage: 132.5+ KB

In [4]:
df.describe() # основая статисика(числовые данные)

         laptop_ID       Inches  Price_euros
count  1303.000000  1303.000000  1303.000000
mean    660.155794    15.017191  1123.686992
std     381.172104     1.426304   699.009043
min       1.000000    10.100000   174.000000
25%     331.500000    14.000000   599.000000
50%     659.000000    15.600000   977.000000
75%     990.500000    15.600000  1487.880000
max    1320.000000    18.400000  6099.000000

In [5]:
df.describe(include=['object']) # строковые данные

,Company,Product,TypeName,ScreenResolution,Cpu,Ram,Memory,Gpu,OpSys,Weight
count,1303,1303,1303,1303,1303,1303,1303,1303,1303,1303
unique,19,618,6,40,118,9,39,110,9,179
top,Dell,XPS 13,Notebook,Full HD 1920x1080,Intel Core i5 7200U 2.5GHz,8GB,256GB SSD,Intel HD Graphics 620,Windows 10,2.2kg
freq,297,30,727,507,190,619,412,281,1072,121

# Задание 3.
# Ответьте на несколько вопросов
# 3.1 Ноутбуков от какой компании больше всего в наборе данных?
# 3.2 Какая минимальная и максимальная стоимость у ноутбуков в данных?
# 3.3 Какой самый дорогой ноутбук в данных?
# Выведите все характеристики только по этому ноутбуку
# Если таких ноутбуков несколько, то выводите их всех

In [6]:
df['Company'] # Выборка всех компаний

0        Apple
1        Apple
2           HP
3        Apple
4        Apple
         ...
1298    Lenovo
1299    Lenovo
1300    Lenovo
1301        HP
1302      Asus
Name: Company, Length: 1303, dtype: object

In [ ]:
df['Company'].value_counts() # Считает ко-во значений по каждому пункту

In [10]:
df['Company'].value_counts().max() # вывести максимальное значение

297

In [11]:
df['Company'].value_counts().head(1) #

Company
Dell    297
Name: count, dtype: int64

In [15]:
df['Price_euros'].min() # мин стоимость

174.0

In [16]:
df['Price_euros'].max() # макс стоимость

6099.0

In [ ]:
df.sort_values('Price_euros') # Сортировка по значению от меньшего к большему

In [19]:
df.sort_values('Price_euros',ascending=False).iloc[0] # Сортировка от большего к меньшему с выводом элемента

laptop_ID                                           200
Company                                           Razer
Product                                       Blade Pro
TypeName                                         Gaming
Inches                                             17.3
ScreenResolution    4K Ultra HD / Touchscreen 3840x2160
Cpu                         Intel Core i7 7820HK 2.9GHz
Ram                                                32GB
Memory                                          1TB SSD
Gpu                             Nvidia GeForce GTX 1080
OpSys                                        Windows 10
Weight                                           3.49kg
Price_euros                                      6099.0
Name: 196, dtype: object

# Задание 4.
# Ответьте на несколько вопросов
# 4.1 Найдите ноутбуки с самой маленькой диагональю в данных?
# Выведите только следующие характеристики:
# 1. Компания
# 2. Типа ноутбука 3. Диагональ
# 4. Стоимость
# Если таких ноутбуков несколько, то выводите их всех
# 5 минут
# 4.2 Сколько стоит самый дорогой ноутбук у компании HP? 4.3 Как много ноутбуков Ultrabook с 8GB RAM?
# Найдите сколько таких ультрабуков с 8GB ОЗУ в процентном соотношении относительно всех ультрабуков

In [42]:
df[df['Inches']==df['Inches'].min()][['Company','TypeName','Inches','Price_euros']] # выдает ноут с мин диаганалью

     Company            TypeName  Inches  Price_euros
50    Lenovo  2 in 1 Convertible    10.1       319.00
1082  Lenovo  2 in 1 Convertible    10.1       646.27
1114  Lenovo  2 in 1 Convertible    10.1       549.00
1126  Lenovo  2 in 1 Convertible    10.1       479.00

In [40]:
df[df['Company'] == 'HP'][['Price_euros']].max()

Price_euros    4389.0
dtype: float64

In [45]:
df[(df['TypeName'] == 'Ultrabook') & (df['Ram'] == '8GB')].shape[0] # shape возвращает ко-во

140